.menu-section.active{
    width: 100vw;
    position: absolute;
    height: 50vh;
    background-color: #0F0A18;
    top: 0;
    z-index: 100;
    display: block;
}
.menu-section{
    display: none;
}
.header-btns{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    margin-top: 50%;
}
.enter-btn, .reg-btn{
    padding: 10px 40px;
    border-radius: 40px;
    color: white;
    background: transparent;
    border: 1px grey solid;
}
.enter-btn{
    border: 2px #4467FF solid;
    box-shadow: 1px 0px 14px 0px #7241FF;
}
.close-btn{
    width: 48px;
    height: 48px;
    margin-left: 85%;
    margin-top: 20px;
}