:root {
    --size: calc(1vw + 1vw);
}


.upper-section-2{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        circle,
        #4e21c9 3%,
        #381f6a 20%,
        #251741 25%,
        #1a112c 30%,
        #0F0A18 40%,
        #0F0A18 50%
        );
        background-position-y: 420px;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
}
.register-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.register-block{
    background-color: rgba(199, 158, 255, 10%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 30px 50px;
    margin-bottom: 50px;
    width: 700px;
    border-radius: 10px;
}
.register-header{
    font-size: 35px;
    font-family: 'AVA';
    letter-spacing: 5px;
    text-shadow:
    0 0 7px #7037EB,
    0 0 20px #7037EB,
    0 0 120px #7037EB;
    color: #D3C2F8;
    font-weight: 500;
}
.register-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
}
/* .register-login, .register-password{
    font-size: 25px;
    padding: 5px 20px;
    background-color: rgba(153, 91, 239, 5%);
    border: 1px #FFF9F9 solid;
    border-radius: 10px;
    width: 100%;
    z-index: 100;
    font-family: 'AVA';
    color: white;
} */
.register-login, .register-password{
    background: transparent;
    max-width: 100%;
    height: 45px;
    padding: 10px;
    /* text-align: center; */
    border: 1px solid white;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
    z-index: 100;
    border-radius: 10px;
    font-family: 'AVA';
}
.register-login:focus, .register-password:focus{
    color: white;
    background: transparent;
    outline-color: rgb(97, 46, 150);
    box-shadow: -3px -3px 15px rgb(97, 46, 150);
    transition: .1s;
    transition-property: box-shadow;
    font-family: 'Open Sans';
}
.buttons-low-reg{
    display: flex;
    gap: calc(var(--size)*0.4);
    width: 100%;
    justify-content: center;
}
.button-telegram{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'AVA';
}
.telegram-link{
    padding: 5px 50px;
    background: linear-gradient(90deg, #7037EB, #6728ee);
    border-radius: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'AVA';
    z-index: 100;
}
.telegram-link:hover{
    padding: 10px 40px;
    background: linear-gradient(90deg, #7037EB, #6728ee);
    border-radius: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'AVA';
}
.telegram-link img{
    width: 40px;
    height: 40px;
    z-index: 2;
}
.try-btn-reg{
    padding: 10px 100px;
    border-radius: 41px;
    background-color: #010314;
    color: white;
    border: 2px #4467FF solid;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left, rgb(1, 110, 218));
    display: flex;
    align-items: center;
    transition: all 1s ease;
    z-index: 20;
    cursor: pointer;
    font-family: 'AVA';
}
/* .try-btn-reg:hover{
    box-shadow: 1px 1px 19px 1px #7037EB;
} */
.watch-video-reg{
    padding: 10px 70px;
    border-radius: 41px;
    background-color: #010314;
    color: white;
    border: none;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left, rgb(1, 110, 218));
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 20;
    font-family: 'AVA';
}
/* кнопки */
.button-2 {
    background: none;
    border: none;
    z-index: 100;
  }
  
  .button-2 .bloom-container {
    position: relative;
    transition: all 0.2s ease-in-out;
    border: none;
    background: none;
  }
  
  .button-2 .bloom-container .button-container-main {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    border-right: 5px solid white;
    border-left: 5px solid rgba(128, 128, 128, 0.147);
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;
  }
  
  .button-2 .bloom-container .button-container-main .button-inner {
    height: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.5) -5px 2px 5px 0px;
    transition: all 0.5s ease-in-out;
  }
  
  .button-2 .bloom-container .button-container-main .button-inner .back {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(60deg, rgb(1, 85, 103) 0%, rgb(147, 245, 255) 50%);
  }
  
  .button-2 .bloom-container .button-container-main .button-inner .front {
    position: absolute;
    inset: 0px;
    border-radius: 60%;
    background: linear-gradient(60deg, rgb(0, 103, 140) 0%, rgb(58, 209, 233) 50%);
    display: grid;
    place-content: center;
    width: 50px;
  }
  
  .button-2 .bloom-container .button-container-main .button-inner .front .svg {
    opacity: 0.5;
    width: 80px;
    aspect-ratio: 1;
    transform: rotate(45deg);
    transition: all 0.2s ease-in;
    top: -2px;
    right: 10px;
    position: relative;
  }
  
  .button-2 .bloom-container .button-container-main .button-glass {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%);
    transform: translate(0%, -50%) rotate(0deg);
    transform-origin: bottom center;
    transition: all 0.5s ease-in-out;
  }
  
  .button-2 .bloom-container .bloom {
    height: 1px;
    width: 1px;
    position: absolute;
    background: white;
  }
  
  .button-2 .bloom-container .bloom1 {
    top: 10px;
    right: 20px;
    box-shadow: rgb(255, 255, 255) 0px 0px 5px 5px, rgb(255, 255, 255) 0px 0px 10px 10px;
  }
  
  .button-2 .bloom-container .bloom2 {
    bottom: 10px;
    left: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 10px 10px, rgba(255, 255, 255, 0.1) 0px 0px 30px 20px;
  }
  
  .button-2 .bloom-container:hover {
    transform: scale(1.1);
  }
  
  .button-2 .bloom-container:hover .button-container-main .button-glass {
    transform: translate(0%, -40%);
  }
  
  .button-2 .bloom-container:hover .button-container-main .button-inner .front .svg {
    opacity: 1;
    filter: drop-shadow(0 0 10px white);
  }
  
  .button-2 .bloom-container:active {
    transform: scale(0.7);
  }
  
  .button-2 .bloom-container:active .button-container-main .button-inner {
    transform: scale(1.2);
  }
  /* кнопка в кнопке */
  .telegram-link {
    --purple: #9B7EDA;
    font-size: 18px;
    padding: 0.3em 3.5em;
    letter-spacing: 0.08em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--purple);
    background: linear-gradient(to right, rgba(155, 126, 218, 0.1) 1%, transparent 40%, transparent 60%, rgba(155, 126, 218, 0.1) 100%);
    color: var(--purple);
    box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.4), 0 0 9px 3px rgba(155, 126, 218, 0.1);
    display: flex;
    gap: 30px;
  }
  
  .telegram-link:hover {
    color: #BFA3F3;
    box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.6), 0 0 9px 3px rgba(155, 126, 218, 0.2);
  }
  
  .telegram-link:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(155, 126, 218, 0.1) 40%, rgba(155, 126, 218, 0.1) 60%, transparent 100%);
  }
  
  .telegram-link:hover:before {
    transform: translateX(15em);
  }
  /* кнопка в кнопке */
/* кнопки */
/* buttons */

/* :root {
	--transition: 0.25s;
	--spark: 1.8s;
}


button {
	--cut: 0.1em;
	--active: 0;
	--bg:
		radial-gradient(
			40% 50% at center 100%,
			hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
			transparent
		),
		radial-gradient(
			80% 100% at center 120%,
			hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
			transparent
		),
		hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
	background: var(--bg);
	font-size: 2rem;
	font-weight: 500;
	border: 0;
	cursor: pointer;
	padding: 0.2em 0.5em;
	display: flex;
	align-items: center;
	gap: 0.25em;
	white-space: nowrap;
	border-radius: 100px;
	position: relative;
	box-shadow:
		0 0 calc(var(--active) * 6em) calc(var(--active) * 3em) hsl(260 97% 61% / 0.75),
		0 0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
		0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
	transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
	scale: calc(1 + (var(--active) * 0.1));
}

button:active {
  scale: 1;
}

svg {
	overflow: visible !important;
}

.sparkle path {
	color: hsl(0 0% calc((var(--active, 0) * 70%) + var(--base)));
	transform-box: fill-box;
	transform-origin: center;
	fill: currentColor;
	stroke: currentColor;
	animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
	animation-duration: 0.6s;
	transition: color var(--transition);
}

button:is(:hover, :focus-visible) path {
	animation-name: bounce;
}

@keyframes bounce {
	35%, 65% {
		scale: var(--scale);
	}
}
.sparkle path:nth-of-type(1) {
	--scale: 0.5;
	--delay: 0.1;
	--base: 40%;
}

.sparkle path:nth-of-type(2) {
	--scale: 1.5;
	--delay: 0.2;
	--base: 20%;
}

.sparkle path:nth-of-type(3) {
	--scale: 2.5;
	--delay: 0.35;
	--base: 30%;
}

button:before {
	content: "";
	position: absolute;
	inset: -0.25em;
	z-index: -1;
	border: 0.25em solid hsl(260 97% 50% / 0.5);
	opacity: var(--active, 0);
	transition: opacity var(--transition);
    z-index: 300;
}

.spark {
	position: absolute;
	inset: 0;
	border-radius: 100px;
	rotate: 0deg;
	overflow: hidden;
	mask: linear-gradient(white, transparent 50%);
	animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
	to {
		rotate: 360deg;
	}
}

.spark:before {
	content: "";
	position: absolute;
	width: 200%;
	aspect-ratio: 1;
	top: 0%;
	left: 50%;
	z-index: -1;
	translate: -50% -15%;
	rotate: 0;
	transform: rotate(-90deg);
	opacity: calc((var(--active)) + 0.4);
	background: conic-gradient(
		from 0deg,
		transparent 0 340deg,
		white 360deg
	);
	transition: opacity var(--transition);
	animation: rotate var(--spark) linear infinite both;
}

.spark:after {
	content: "";
	position: absolute;
	inset: var(--cut);
	border-radius: 100px;
}

.backdrop {
	position: absolute;
	inset: var(--cut);
	background: var(--bg);
	border-radius: 100px;
	transition: background var(--transition);
}

@keyframes rotate {
	to {
		transform: rotate(90deg);
	}
}



@supports(selector(:has(:is(+ *)))) {
	body:has(button:is(:hover, :focus-visible)) {
		--active: 1;
		--play-state: running;
	}
	.bodydrop {
		display: none;
	}
}

button:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
	--active: 1;
	--play-state: runnin;
}

.bodydrop {
	background: transparent;
	position: fixed;
	inset: 0;
	z-index: -1
}



button:is(:hover, :focus-visible) {
	--active: 1;
	--play-state: running;
}


.sparkle-button {
	position: relative;
}

.particle-pen {
	position: absolute;
	width: 200%;
	aspect-ratio: 1;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	-webkit-mask: radial-gradient(white, transparent 65%);
	z-index: -1;
	opacity: var(--active, 0);
	transition: opacity var(--transition);
}

.particle {
	fill: white;
	width: calc(var(--size, 0.25) * 1rem);
	aspect-ratio: 1;
	position: absolute;
	top: calc(var(--y) * 1%);
	left: calc(var(--x) * 1%);
	opacity: var(--alpha, 1);
	animation: float-out calc(var(--duration, 1) * 1s) calc(var(--delay) * -1s) infinite linear;
	transform-origin: var(--origin-x, 1000%) var(--origin-y, 1000%);
	z-index: -1;
	animation-play-state: var(--play-state, paused);
}

.particle path {
	fill: hsl(0 0% 90%);
	stroke: none;
}

.particle:nth-of-type(even) {
	animation-direction: reverse;
}

@keyframes float-out {
	to {
		rotate: 360deg;
	}
}

.text {
	translate: 2% -6%;
	letter-spacing: 0.01ch;
	background: linear-gradient(90deg, hsl(0 0% calc((var(--active) * 100%) + 65%)), hsl(0 0% calc((var(--active) * 100%) + 26%)));
	-webkit-background-clip: text;
	color: transparent;
	transition: background var(--transition);
}

button svg {
	inline-size: 1.25em;
	translate: -25% -5%;
} */
/* buttons */
.gulls-img-2{
    width: 750px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 0vh;
    z-index: -2;
    /* z-index: 10; */
    height: 700px;
    margin-top: 120px;

}
.gulls-2{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 102vh;
    z-index: -2;
    /* transform: scale(0.7); */
    z-index: 10;
    height: 800px;
}
.img-lines-block-2{
    position: absolute;
    top: 60vh;
}
.lines-img-2{
    margin-left: 250px;
}
.qr-code-img-2{
    width: 74px;
    height: 74px;
    border-radius: 15px;
    margin-top: 5px;
}
.qr-code-2{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    margin-left: -100px;
}
.qr-code-block-2{
    background-color: rgba(153, 91, 239, 0.4);
    width: 300px;
    display: flex;
    padding:5px;
    padding-top: 8px;
    padding-right: 8px;
    border-radius: 25px;
    position: absolute;
    top: 85vh;
}
.qr-code-text-2{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
.qrcode-header-2{
   margin-bottom: 13px;
   font-size: 13px;
   color: #fff;
   font-family: 'Open Sans';
}
.qr-code-content-2{
   font-size: 16px;
   text-transform: uppercase;
   font-family: 'Lena';
   color: #A58CF4;
}
.wave-text-2{
    font-family: 'Wave';
    transform: rotate(-90deg);
    width: 200px;
    position: relative;
    bottom: 28vh;
    left: 13vw;
    color: #A58CF4;
    font-size: 12px;
    display: block;
}
@media screen and (max-width: 1600px){
    .register-login, .register-password{
        font-size: 18px;
        padding: 5px 20px;
        background-color: rgba(153, 91, 239, 5%);
        border: 1px #FFF9F9 solid;
        border-radius: 10px;
        width: 100%;
        z-index: 100;
        font-family: 'AVA';
        color: white;
    }
    .buttons-low-reg{
        display: flex;
        gap: calc(var(--size));
        width: 100%;
        justify-content: center;
    }
    .register-fields{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .qr-code-2{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .qr-code-block-2{
        background-color: rgba(153, 91, 239, 0.4);
        width: 300px;
        display: flex;
        padding:5px;
        padding-top: 8px;
        padding-right: 8px;
        border-radius: 25px;
        position: absolute;
        top: 88vh;
    }
    .lines-img-2{
        margin-left: 0;
    }
    .wave-text-2{
        display:block;
    }
}
@media screen and (max-width: 1300px){
    .wave-text-2{
        display: none;
    }
    .gulls-img-2{
        width: 750px;
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
        margin-bottom: 0vh;
        z-index: -2;
        /* transform: scale(0.7); */
        z-index: 10;
        height: 650px;
        margin-top: 140px;
    
    }
    .buttons-low-reg{
        display: flex;
        gap: calc(var(--size));
        width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 800px){
    .register-block{
        background-color: rgba(199, 158, 255, 10%);
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 50px;
        width: 80vw;
    }
    .button-telegram{
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
    }
    .telegram-link{
        padding: calc(var(--size)*0) calc(var(--size));
        background: linear-gradient(90deg, #7037EB, #6728ee);
        border-radius: 10px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: calc(var(--size)*45);
        font-size: calc(var(--size)*1.8);
        font-family: 'AVA';
        color: white;
    }
    .telegram-link img{
        width: 40px;
        height: 40px;
        z-index: 2;
    }
    .try-btn-reg{
        padding: calc(var(--size)) calc(var(--size)*3);
        border-radius: 41px;
        background-color: #010314;
        color: white;
        border: 2px #4467FF solid;
        background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left, rgb(1, 110, 218));
        display: flex;
        align-items: center;
        transition: all 1s ease;
        z-index: 20;
        cursor: pointer;
        font-size: calc(var(--size)*1);
    }
    .try-btn-reg:hover{
        box-shadow: 1px 1px 19px 1px #7037EB;
    }
    .watch-video-reg{
        padding: calc(var(--size)) calc(var(--size)*3);
        border-radius: 41px;
        background-color: #010314;
        color: white;
        border: none;
        background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left, rgb(1, 110, 218));
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 20;
        font-size: calc(var(--size)*1);
    }
    .buttons-low-reg{
        display: flex;
        gap: calc(var(--size));
        width: 100%;
        justify-content: center;
        padding-right: 30px;
        padding-left: 30px;
    }
    .register-header{
        font-size: calc(var(--size)*2.5);
        font-family: 'AVA';
        letter-spacing: 5px;
        text-shadow:
        0 0 7px #7037EB,
        0 0 20px #7037EB,
        0 0 120px #7037EB;
        color: #D3C2F8;
        font-weight: 500;
    }
    .register-fields{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .register-login, .register-password{
        font-size: calc(var(--size)*1.5);
        padding: 5px 20px;
        background-color: rgba(153, 91, 239, 5%);
        border: 1px #FFF9F9 solid;
        border-radius: 10px;
        width: 100%;
        z-index: 100;
        font-family: 'AVA';
        color: white;
    }
    .gulls-img-2{
        width: 500px;
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
        margin-bottom: 0vh;
        z-index: -2;
        /* transform: scale(0.7); */
        z-index: 10;
        height: 530px;
        margin-top: 140px;
    
    }
    .gulls-2{
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
        bottom: 102vh;
        z-index: -2;
        /* transform: scale(0.7); */
        z-index: 10;
        height: 700px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .qr-code-img-2{
        width: 64px;
        height: 64px;
        border-radius: 15px;
        margin-top: 8px;
    }
    .qr-code-2{
        width: 100vw;
        display: flex;
    }
    .qr-code-block-2{
        background-color: rgba(153, 91, 239, 0.4);
        width: calc(var(--size)*19);
        height: 90px;
        display: flex;
        padding:5px;
        padding-top: 8px;
        padding-right: 9px;
        border-radius: 25px;
        position: absolute;
        top: 90vh;
    }
    .qr-code-text-2{
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
    }
    .qrcode-header-2{
       margin-bottom: 13px;
       font-size: calc(var(--size)*0.9);
       color: #fff;
       font-family: 'Open Sans';
    }
    .qr-code-content-2{
       font-size: calc(var(--size)*1);
       text-transform: uppercase;
       font-family: 'Lena';
       color: #A58CF4;
    }
    .telegram-link {
        --purple: #9B7EDA;
        font-size: calc(var(--size)*0.9);
        padding: 0.2em 1em;
        letter-spacing: 0.08em;
        position: relative;
        font-family: inherit;
        border-radius: 0.6em;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        border: 2px solid var(--purple);
        background: linear-gradient(to right, rgba(155, 126, 218, 0.1) 1%, transparent 40%, transparent 60%, rgba(155, 126, 218, 0.1) 100%);
        color: var(--purple);
        box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.4), 0 0 9px 3px rgba(155, 126, 218, 0.1);
        display: flex;
        gap: 30px;
      }
      .telegram-link:hover{
        padding: 10px 20px;
        background: linear-gradient(90deg, #7037EB, #6728ee);
        border-radius: 30px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        font-family: 'AVA';
    }
    .telegram-link img{
        width: 40px;
        height: 40px;
        z-index: 2;
    }
}