:root{
    --size: calc(1vw + 1vw);
}
html{
    overflow-x:hidden;
    background-color: #0F0A18;
    width: 100vw;
}

.meditation-way{
    position: relative;
    color: white;
    top: 140vh;
    padding-right: 10vw;
    padding-left: 10vw;
    width: 100vw;
}
.way-header{
    font-size: 50px;
    width: 360px;
}
.meditation-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
    row-gap: 50px;
}
.phone-card-block{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: black;
    padding: 40px 40px;
}
.phone-card-block, .way-calendar{
    border-radius: 20px;
}
.phone-card-header-sec{
    width: 100%;
    display: flex;
    justify-content: center;
}
.phone-card-header{
    margin-bottom: 30px;
    font-size: 27px;
    width: 200px;
    text-align: center;
}
.phone-card-way-content{
    text-align: center;
    font-size: calc(var(--size)*0.5);
}
.way-phone-card-text{
    padding-top: 40px;
    width: 70%;
}
.way-calendar{
    display: flex;
    background-color: black;
    height: 362px;
    padding: 30px 30px;

}
.calendar-acrivity{
    display: flex;
    flex-direction: column;
    height: 85%;
    bottom: 30px;
    position: relative;
}
.calendar-img{
    height: 200px;
    width: 200px;
}
.acrivity-img{
    position: relative;
    bottom: 0px;
}
.calender-card-text{
    height: 50%;
    position: relative;
    top: 100px;
    text-align: center;
}
.calender-card-abzats{
    top: 100px;
    font-size: calc(var(--size)*0.5);
}
.calender-card-text{
    width: 70%;
    margin-right: 20px;
}
.calender-card-header{
    margin-bottom: 20px;
    font-size: 27px;
}
.way-content{
    width: 90%;
    padding-left: 5vw;
}
@media screen and (max-width:1200px) {
    .meditation-way{
        position: relative;
        color: white;
        top: 120vh;
        padding-right: 5vw;
        padding-left: 5vw;
    }
}
@media screen and (max-width:1000px) {
    .meditation-grid{
       display: flex;
       flex-direction: column;
    }
    .calender-card-abzats{
        top: 100px;
        font-size: calc(var(--size)*1.2);
    }
    .phone-card-way-content{
        text-align: center;
        font-size: calc(var(--size)*1.2);
    }
    .way-content{
        width: 90%;
        padding-left: 0px;
    }
}
@media screen and (max-width:800px) {
    .meditation-way{
        position: relative;
        color: white;
        top: 200vh;
        padding-right: 3vw;
        padding-left: 3vw;
    }
    .phone-card-header{
        font-size: 15px;
        margin-bottom: 30px;
        width: 180px;
        text-align: center;
    }
    .phone-card-block{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        background-color: black;
    }
    .calendar-acrivity{
        display: flex;
        flex-direction: column;
        height: 85%;
        bottom: 30px;
        position: relative;
    }
    .calender-card-abzats{
        top: 100px;
        font-size: 13px;
    }
    .phone-card-way-content{
        text-align: center;
        font-size: 13px;
    }
    .way-calendar{
        zoom: 65%;
    }
    .way-phone-card{
        zoom: 65%;
    }
    .calender-card-abzats{
        top: 100px;
        font-size: calc(var(--size)*1.6);
    }
    .phone-card-way-content{
        text-align: center;
        font-size: calc(var(--size)*1.6);
    }
}
