.lower-section{
    position: relative;
    margin-top: 17vh;
    color: white;
    width: 100vw;
}
.lower-section-header, .abzats-lower-section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.lower-section-header h1{
    font-size: calc(var(--size)*2);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-weight: 500;
}
.abzats-lower-section p{
    width: 600px;
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans';
    color: #77798F;
}
.lower-block{
    background-image: url('../media/Rectangle\ 5\(1\).png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 50px;
}
.lower-block-section{
    padding-left: 5vw;
    padding-right: 5vw;
}
.lower-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 80px;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
footer ul {
    list-style: none;
    font-size: 18px;
    line-height: 40px;
}
.under-footer ul{
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: #77798F;
}
.footer-lists{
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans Thin';
    font-weight: 100;
    color: #77798F;
}
.footer-lists p{
    color: white;
    font-weight: 900;
}
.under-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #010314;
    padding: 30px 40px;
    margin-top: 30px;
    color: #77798F;
    font-family: 'Open Sans';
    box-shadow: -19px -20px 100px 20px #6633EE;
}
.buttons-lowest ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.android, .apple-os{
    padding: 15px 10px;
    border-radius: 100px;
    background:transparent;
    color: white;
    border: 1px white solid;
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    width: 137px;
}
.android{
    padding: 15px 5px;
}
.android-img{
    width: 13px;
}
.apple-os{
    gap: 30px;
    float:left;
}
.logo-footer{
    color: #fff;
    letter-spacing: 8px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 151px #fff;
    font-family: 'Lena';
    align-self: center;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 32px;
}
.under-logo{
    font-size: 30px;
    width: 370px;
    font-family: 'Open Sans';
}
@media screen and (max-width:1300px){
    .footer-lists{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
    }
    /* .under-left{
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
    } */
    .under-logo-section{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .flex-footer-section{
        text-align: center;
    }
    .under-logo{
        justify-self: center;
    }
}
@media screen and (max-width:800px){
    .lower-section{
        position: relative;
        margin-top: 20vh;
        color: white;
        width: 100vw;
    }
    .under-footer{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        background-color: #010314;
        padding: 30px 40px;
        margin-top: 30px;
    }
    .under-footer ul{
        list-style: none;
        margin-top: 30px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .under-left{
        text-align: center;
    }
    .buttons-lowest ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }
    .android, .apple-os{
        padding: 10px 5px;
        border-radius: 100px;
        background:transparent;
        color: white;
        border: 1px white solid;
        display: flex;
        gap: 7px;
        justify-content: center;
        align-items: center;
        width: 137px;
    }
    .footer-lists{
        display: grid;
        width: 100%;
        grid-template-columns: 40% 40%;
        row-gap: 30px;

    }
    .footer-lists div{
        padding-left: 30%;
    }
    .footer-lists li{
        width: 100px;
    }
    .lower-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20vw;
        padding-left: 20vw;
        height: 200px;
        margin-top: 30px;
    }
    .second-one{
        margin-top: 0px;
        display: flex;
        justify-content: center;
    }
    .abzats-lower-section p{
        width: 600px;
        font-size: calc(var(--size)*1.3);
        text-align: center;
    }
    .prices p{
        width: 200px;
    }
    .prices ul li{
        width: 200px;
         line-height: 39px;
    }
    .lower-section-header h1{
        font-size: calc(var(--size)*3);
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Open Sans';
        font-weight: 500;
    }
}
@media screen and (max-width:500px){
    .footer-lists div{
        padding-left: 0px;
        width: 150px;
    }
    .prices p{
        width: 200px;
    }
    .prices ul li{
        width: 200px;
         line-height: 59px;
    }
    .about-company ul{
        line-height: 60px;
        text-align: right;
    }
    .about-company p{
        padding-left: 20px;
    }
    .under-footer{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        background-color: #010314;
        padding: 10px 10px;
        margin-top: 30px;
        font-size: 10px;
    }
    footer ul {
        list-style: none;
        font-size: 18px;
        line-height: 30px;
    }
    .lower-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 10vw;
        padding-left: 10vw;
    }
    .documents li{
        line-height: 50px;
    }
    .lower-section-header h1{
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Open Sans';
        font-weight: 500;
    }
}
@media screen and (max-width:430px){
    .lower-block-section {
        padding-left: 5vw;
        padding-right: 5vw;
        margin-top: -60px;
    }
    .footer-lists div:last-child{
        padding-left: 20px;
        width: 150px;
    }
    .footer-lists div:last-child p{
        padding-left: 10px;
    }
}

