:root{
    --size: calc(1vw + 1vw);
}

.meditation-way{
    position: relative;
    color: white;
    margin-top: 20vh;
    padding-right: calc(var(--size)*2);
    padding-left: calc(var(--size)*4.8);
    width: 100vw;
    background: radial-gradient(
        circle,
        #4e21c9 3%,
        #381f6a 10%,
        #251741 15%,
        #1a112c 20%,
        #0F0A18 35%,
        #0F0A18 40%
      );
    height: calc(var(--size)*20);
}
.way-header{
    font-size: calc(var(--size)*1.8);
    /* width: 370px; */
    font-family: 'Open Sans Bold';
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, white, #7037EB);
}
.meditation-grid{
    display: grid;
    grid-template-columns: calc(var(--size)*19.4) calc(var(--size)*19.4);
    column-gap: 50px;
    row-gap: 50px;
    margin-top: -200px;
    position: relative;
}
.phone-card-block{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: black;
    padding: 40px 40px;
}
.phone-card-block, .way-calendar{
    border-radius: 20px;
}
.phone-card-header-sec{
    width: 100%;
    display: flex;
    justify-content: center;
}
.way-phone-card{
    height: 100%;
}
.phone-card-header{
    margin-bottom: 30px;
    font-size: 27px;
    width: 220px;
    text-align: center;
    font-family: 'Open Sans';
    margin-bottom: 20px;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, white, #7037EB);
}
.phone-card-way-content{
    text-align: center;
    font-size: calc(var(--size)*0.5);
}
.way-phone-card-text{
    padding-top: 40px;
    width: 70%;
    font-family: 'Kontora';
}
.way-calendar{
    /* display: flex; */
    /* background-color: black; */
    /* height: 362px; */
    /* padding: 17px 40px; */
    /* background: radial-gradient(at 100% 90%, #6F3CF6 10%,#4b338e 20%,#36285e 30%,#1f1831 40%, #000 80%); */
    /* height: 90%; */
    

}
.calendar-acrivity{
    display: flex;
    flex-direction: column;
    height: 85%;
    margin-bottom: 5px;
    position: relative;
}
.calendar-img{
    /* height: calc(var(--size)*5.1);
    width: calc(var(--size)*5.3); */
    height: 200px;
    width: 200px;
}
.acrivity-img{
    position: relative;
    padding-bottom: calc(var(--size));
    width: calc(var(--size)*8.5);
}
.calender-card-abzats{
    font-size: calc(var(--size)*0.5);
}
.calender-card-text{
    width: 70%;
    margin-right: 20px;
    font-family: 'Kontora';
    text-align: left;
    position: relative;
    height: 50%;
    margin-top: 50px;
}
.calender-card-header{
    margin-bottom: 20px;
    font-size: calc(var(--size)*2);
    width: 200px;
    font-family: 'Open Sans';
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, white, #7037EB);
}
.way-content{
    width: 100%;
    padding-left: 5vw;
    font-family: 'Open Sans';
    font-size: calc(var(--size)*0.5);
    margin-top: calc(var(--size)*3);
}
.tracker{
    width: calc(var(--size)*20);
}
.personal{
    width: calc(var(--size)*19.4);
}
@media screen and (max-width:1400px){
    .way-header{
        font-size: calc(var(--size)*2.3);
        width: 570px;
        font-family: 'Open Sans Bold';
        color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to bottom, white, #7037EB);
    }
    .way-content{
        width: 100%;
        padding-left: 5vw;
        font-family: 'Open Sans';
        font-size: calc(var(--size)*0.7);
        margin-top: calc(var(--size)*3);
    }
    .tracker{
        width: calc(var(--size)*23);
    }
    .personal{
        width: calc(var(--size)*22.4);
    }
    .meditation-way{
        position: relative;
        color: white;
        margin-top: 20vh;
        padding-right: calc(var(--size));
        padding-left: calc(var(--size)*1.3);
        width: 100vw;
        background: radial-gradient(
            circle,
            #4e21c9 3%,
            #381f6a 10%,
            #251741 15%,
            #1a112c 20%,
            #0F0A18 35%,
            #0F0A18 40%
          );
        height:calc(var(--size)*25);
    }
    .meditation-grid{
        display: grid;
        grid-template-columns: calc(var(--size)*22.4) calc(var(--size)*22.4);
        column-gap: 50px;
        row-gap: 50px;
        margin-top: -29px;
        position: relative;
    }
}
@media screen and (max-width:1300px){
    .meditation-way{
        position: relative;
        color: white;
        margin-top: 0vh;
        padding-right: calc(var(--size));
        padding-left: calc(var(--size)*1.3);
        width: 100vw;
        background: radial-gradient(
            circle,
            #4e21c9 3%,
            #381f6a 10%,
            #251741 15%,
            #1a112c 20%,
            #0F0A18 35%,
            #0F0A18 40%
          );
        height:calc(var(--size)*25);
    }
}
@media screen and (max-width:1100px){
    .meditation-way{
        position: relative;
        color: white;
        /* margin-top: 55vh; */
        padding-right: calc(var(--size));
        padding-left: calc(var(--size)*1.3);
        width: 100vw;
        background: radial-gradient(
            circle,
            #4e21c9 3%,
            #381f6a 10%,
            #251741 15%,
            #1a112c 20%,
            #0F0A18 35%,
            #0F0A18 40%
          );
        height:calc(var(--size)*25);
    }
}
@media screen and (max-width:800px){
    .tracker{
        width: calc(var(--size)*45);
        z-index: 10;
        position: relative;
    }
    .personal{
        width: calc(var(--size)*45.4);
    }
    .meditation-way{
        position: relative;
        color: white;
        margin-top: 10vh;
        padding-right: calc(var(--size));
        padding-left: calc(var(--size)*2.2);
        width: 100vw;
        background: radial-gradient(
            circle,
            #4e21c9 3%,
            #381f6a 10%,
            #251741 15%,
            #1a112c 20%,
            #0F0A18 35%,
            #0F0A18 40%
          );
        height: 80vh;
        background-size: 800px;
        background-position: 600px 750px;
    }
    .meditation-grid{
        display: grid;
        grid-template-columns: calc(var(--size)*30.4);
        column-gap: 50px;
        row-gap: 30px;
        margin-top: 10vh;
        position: relative;
    }
    .way-header{
        font-size: calc(var(--size)*4);
        width: calc(var(--size)*40);
        font-family: 'Open Sans Bold';
        color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to bottom, white, #7037EB);
    }
    .way-content{
        width: calc(var(--size)*45);
        padding-left: 0px;
        font-family: 'Open Sans';
        font-size: calc(var(--size)*1.5);
        margin-top: 10px;
    }
}
@media screen and (max-width:430px){
    .way-header{
        font-size: calc(var(--size)*4);
        width: 370px;
        font-family: 'Open Sans Bold';
        color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to bottom, white, #7037EB);
        top: 26px;
        position: relative;
    }
    .way-content{
        width: calc(var(--size)*40);
        padding-left: 0px;
        font-family: 'Open Sans';
        font-size: calc(var(--size)*1.5);
        margin-top: 10px;
    }
    .meditation-grid{
        display: grid;
        grid-template-columns: calc(var(--size)*30.4);
        column-gap: 50px;
        row-gap: 20px;
        margin-top: 0vh;
        position: relative;
    }
}
@media screen and (max-width:390px){
    .way-header{
        font-size: calc(var(--size)*4);
        width: 370px;
        font-family: 'Open Sans Bold';
        color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to bottom, white, #7037EB);
        top: 26px;
        position: relative;
    }
    .way-content{
        width: calc(var(--size)*40);
        padding-left: 0px;
        font-family: 'Open Sans';
        font-size: calc(var(--size)*1.5);
        margin-top: 10px;
    }
    .meditation-grid{
        display: grid;
        grid-template-columns: calc(var(--size)*30.4);
        column-gap: 50px;
        row-gap: 20px;
        margin-top: 10vh;
        position: relative;
    }
}
