:root{
    --size: calc(1vw + 1vw);
}
html{
    overflow-x:hidden;
    background-color: #0F0A18;
    width: 100vw;
}

.meditation-way{
    position: relative;
    color: white;
    margin-top: 60vh;
    padding-right: 10vw;
    padding-left: 10vw;
    width: 100vw;
    background: radial-gradient(
        circle,
        #4e21c9 3%,
        #381f6a 10%,
        #251741 15%,
        #1a112c 20%,
        #0F0A18 35%,
        #0F0A18 40%
      );
}
.way-header{
    font-size: 50px;
    width: 370px;
    font-family: 'Open Sans';
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, white, #7037EB);
}
.meditation-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: -200px;
    position: relative;
}
.phone-card-block{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: black;
    padding: 40px 40px;
}
.phone-card-block, .way-calendar{
    border-radius: 20px;
}
.phone-card-header-sec{
    width: 100%;
    display: flex;
    justify-content: center;
}
.way-phone-card{
    height: 100%;
}
.phone-card-header{
    margin-bottom: 30px;
    font-size: 27px;
    width: 220px;
    text-align: center;
    font-family: 'Open Sans';
    margin-bottom: 20px;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, white, #7037EB);
}
.phone-card-way-content{
    text-align: center;
    font-size: calc(var(--size)*0.5);
}
.way-phone-card-text{
    padding-top: 40px;
    width: 70%;
    font-family: 'Kontora';
}
.way-calendar{
    display: flex;
    background-color: black;
    height: 362px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
    background: radial-gradient(at 100% 90%, #6F3CF6 10%,#4b338e 20%,#36285e 30%,#1f1831 40%, #000 80%);
    height: 90%;
    

}
.calendar-acrivity{
    display: flex;
    flex-direction: column;
    height: 85%;
    margin-bottom: 5px;
    position: relative;
}
.calendar-img{
    height: 200px;
    width: 200px;
}
.acrivity-img{
    position: relative;
}
.calender-card-abzats{
    font-size: calc(var(--size)*0.5);
}
.calender-card-text{
    width: 70%;
    margin-right: 20px;
    font-family: 'Kontora';
    text-align: left;
    position: relative;
    height: 50%;
    margin-top: 50px;
}
.calender-card-header{
    margin-bottom: 20px;
    font-size: 27px;
    width: 200px;
    font-family: 'Open Sans';
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, white, #7037EB);
}
.way-content{
    width: 90%;
    padding-left: 5vw;
    font-family: 'Open Sans';
}
@media screen and (max-width:1200px) {
    .meditation-way{
        position: relative;
        color: white;
        margin-top: 60vh;
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .acrivity-img{
        position: relative;
        margin-bottom: 0px;
        width: 200px;
    }
}
@media screen and (max-width:1000px) {
    .meditation-way{
        position: relative;
        color: white;
        margin-top: 80vh;
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .meditation-grid{
       display: flex;
       flex-direction: column;
    }
    .calender-card-abzats{
        font-size: calc(var(--size)*1.2);
    }
    .phone-card-way-content{
        text-align: center;
        font-size: calc(var(--size)*1.2);
    }
    .way-content{
        width: 90%;
        padding-left: 0px;
    }
}
@media screen and (max-width:800px) {
    .meditation-way{
        position: relative;
        color: white;
        margin-top: 250vh;
        padding-right: 3vw;
        padding-left: 3vw;
    }
    .phone-card-header{
        font-size: 15px;
        width: 180px;
        text-align: center;
    }
    .phone-card-block{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        background-color: black;
    }
    .calendar-acrivity{
        display: flex;
        flex-direction: column;
        height: 85%;
        position: relative;
        margin-bottom: 0px;
    }
    .calender-card-abzats{
        font-size: 13px;
    }
    .phone-card-way-content{
        text-align: center;
        font-size: 13px;
    }
    .way-calendar{
        zoom: 65%;
    }
    .way-phone-card{
        zoom: 65%;
    }
    .calender-card-abzats{
        font-size: calc(var(--size)*1.6);
    }
    .phone-card-way-content{
        text-align: center;
        font-size: calc(var(--size)*1.6);
    }
}
