:root {
    --text-color: 256, 256, 256;
    --primary-color: 111, 76, 255;
    --size: calc(1vw + 1vw);
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar{
    width: 0;
}
html{
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #0F0A18;
}

.upper-section{
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    /* height: 300vh; */
    /* z-index: -10; */
    background: radial-gradient(
        circle,
        #4e21c9 3%,
        #381f6a 20%,
        #251741 25%,
        #1a112c 30%,
        #0F0A18 40%,
        #0F0A18 50%
      );
      background-position-y: 420px;
      background-repeat: no-repeat;
      position: relative;
}
.upper-section::-webkit-scrollbar{
    width: 0;
}
header{
    position: relative;
    height: 66px;
    top: 30px;
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo{
    color: #fff;
    letter-spacing: 8px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 151px #fff;
    font-family: 'Lena';
    align-self: center;
    font-weight: 100;
    display: flex;
    align-items: center;
}
.costs{
    width: 50%;
    display: flex;
    align-items: center;
}
.costs ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans';
}
.header-buttons{
    display: flex;
    gap: 14px;
    font-family: 'Poppins';
}
.registration, .login{
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 40px;
    background-color: #0F0A18;
    color: white;
    font-family: 'Open Sans';
    z-index: 100;
    position: relative;
}
.registration{
    border:#2A2B3A 1px solid ;
    position: relative;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease;
}
.registration:hover{
    box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 30px 0px;
}
.login{
    color: rgba(var(--text-color));
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: all 0.3s ease;
  padding:10px 40px;
}
.login:hover {
    box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 30px 0px;
}
.btn-login{
    border-radius:40px ;
    position: relative;
    z-index: 100;
    cursor: pointer;
}
.main-text{
    width: 100%;
    height: 104vh;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
}
.main-text__block{
    width: 100vw;
    height: 50vh;
    text-align: center;
    align-self: center;
    position: relative;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}
.try-btn, .watch-video{
    background: #010314;
    color: white;
    padding: 15px 30px;
    border-radius: 40px;
    margin-top: 40px;
    font-size: 18px;
}
.header-text{
    font-size: 50px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, white, #7242d8);
    display: table;
}
.under-header{
    display: flex;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: #77798F;
    justify-content: center;
}

.over-header{
    font-family: 'Rubik One', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #627FFF 33%, #865BFF 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
  letter-spacing: 8px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.over-header span{
    font-weight: 100;
}
.start{
    position: relative;
    margin-right: 8px;
    width: 25px;
}
.buttons-low-1{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    bottom: 20px;
}
.watch-video{
    display: flex;
    border: 1px #2A2B3A solid;
    align-items: center;
}
.watch-video:hover{
    cursor: pointer;
    box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 30px 0px;
    transition: all 0.3s ease;
}
.polygon{
    margin-right: 12px;
}
.img-lines-block{
    text-align: center;
    position: relative;
    bottom: 100vh;
    width: 100%;
    height: 10vh;
    left: -50%;
    transform: translateX(50%);
}
.img-lines-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.try-btn{
    color: rgba(var(--text-color));
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left, rgb(1, 110, 218));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all 0.3s ease;
    padding:10px 40px;
    position: relative;
    /* z-index: 1; */
    cursor: pointer;
    display: flex;
    align-items: center;
}
.try-btn:hover{
    box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 30px 0px;
    cursor: pointer;
}
.gulls{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 95vh;
    z-index: -2;
    transform: scale(0.7);
    z-index: 10;
}
.wave-text{
    font-family: 'Wave';
    transform: rotate(-90deg);
    width: 200px;
    position: relative;
    bottom: 28vh;
    left: 13vw;
    color: #A58CF4;
    font-size: 12px;
}
.qr-code-img{
    width: 74px;
    height: 74px;
    border-radius: 15px;
    margin-top: 5px;
}
.qr-code-block{
    background-color: rgba(153, 91, 239, 0.4);
    width: 300px;
    display: flex;
    padding:5px;
    padding-top: 8px;
    padding-right: 8px;
    border-radius: 25px;
    position: relative;
    left: 65vw;
    margin-top: -230px;
}
.qr-code-text{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
.qrcode-header{
   margin-bottom: 13px;
   font-size: 13px;
   color: #fff;
   font-family: 'Open Sans';
}
.qr-code-content{
   font-size: 16px;
   text-transform: uppercase;
   font-family: 'Lena';
   color: #A58CF4;
}
.scale-phone{
    position: relative;
    /*margin-top: -250px;
    /* z-index: 2; */
    justify-self: center;
    scale: 1
    /* height: 300vh; */
}
.menu{
    display: none;
}
.scale-phone-block{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    /* height: 100vh; */
    top: 70vh;
}
/* .telephone {
    position: fixed;
    top: 150vh;
    transform: scale(5.3);
    transition: 1s all ease;
} */
.section-fixed{
    position: fixed;
    margin-bottom: 100vh;
}

